[user]
	email = thiagokokada@gmail.com
	name = Thiago Kenji Okada
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[merge]
	tool = nvim -d
[color]
	ui = true
[commit]
	verbose = true
[alias]
	branch-cleanup = "!git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs git branch -d #"
	pushf = push --force-with-lease
	submodules-upgrade = submodule update --init --recursive --remote
[include]
	path = ~/.gitconfig.local
[github]
	user = thiagokokada
[pull]
	rebase = true
[rebase]
	autoStash = true
[branch]
	sort=-committerdate
