[user]
	email = thiagokokada@gmail.com
	name = Thiago Kenji Okada
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[merge]
	tool = nvim -d
[color]
	ui = true
[tar "tar.xz"]
	command = xz -c
[http "https://gopkg.in"]
	followRedirects = true
[commit]
	template = ~/.gitmessage
[alias]
	branch-cleanup = "!git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs git branch -d #"
	pushf = push --force-with-lease
[include]
	path = ~/.gitconfig.local
