[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
	branch = master
	ignore = untracked
[submodule "config/sublime-text-3/Packages/LaTeX-cwl"]
	path = config/sublime-text-3/Packages/LaTeX-cwl
	url = git://github.com/LaTeXing/LaTeX-cwl.git
	branch = master
	ignore = untracked
[submodule "config/sublime-text-3/Packages/languages"]
	path = config/sublime-text-3/Packages/languages
	url = git://github.com/SublimeText/Dictionaries.git
	branch = master
	ignore = untracked
[submodule "zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
	ignore = untracked
[submodule "zsh-completions"]
	path = zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
	branch = master
	ignore = untracked
[submodule "dotbot"]
	path = dotbot
	tag = v1.2.0
	url = git://github.com/anishathalye/dotbot.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim.git
