[submodule "config/sublime-text-3/Packages/LaTeX-cwl"]
	path = config/sublime-text-3/Packages/LaTeX-cwl
	url = https://github.com/LaTeXing/LaTeX-cwl.git
	branch = master
	ignore = untracked
[submodule "config/sublime-text-3/Packages/languages"]
	path = config/sublime-text-3/Packages/languages
	url = https://github.com/SublimeText/Dictionaries.git
	branch = master
	ignore = untracked
[submodule "dotbot"]
	path = dotbot
	branch = master
	url = https://github.com/anishathalye/dotbot.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	branch = master
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zgen"]
	path = zgen
	branch = master
	url = https://github.com/tarjoilija/zgen.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
