Host *
    ServerAliveInterval 300
    ServerAliveCountMax 2

Host ime-valinhos
    Hostname valinhos.ime.usp.br
    User thiago
    Port 60222

Host ime
    Hostname ime.usp.br
    User thiagoko
    DynamicForward 1080

Host m45t3r
    Hostname m45t3r.noip.me
    User m45t3r
    Port 22222

Host revoada
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    Hostname 143.107.45.126
    User ubuntu
    Port 10111

Host ufpel-lups
    Hostname lups.ufpel.edu.br
    User thiagoko

Host ufpel-hydra
    ProxyCommand ssh -q ufpel-lups nc -q0 hydra 22
    User hydra
