configuration {
	modi: "window,drun,ssh";
	font: "Roboto 14";
	theme: "custom";
	show-icons: true;
	kb-remove-char-back: "BackSpace";
	kb-remove-to-eol: "Control+Shift+e";
	kb-accept-entry: "Control+m,Return,KP_Enter";
	kb-mode-next: "Shift+Right,Control+Tab,Control+l";
	kb-mode-previous: "Shift+Left,Control+Shift+Tab,Control+h";
	kb-row-up: "Up,Control+k";
	kb-row-down: "Down,Control+j";
	terminal: "kitty";
}
