[Unit]
Description=Update rtorrent's IPv4 Blocklist
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/curl https://silo.glasz.org/antip2p.list.gz | gunzip > ~/.session/antip2p.list'

[Install]
WantedBy=default.target
