-e git+https://github.com/enkore/i3pystatus@master#egg=i3pystatus
#-e git+https://github.com/m45t3r/i3pystatus@master#egg=i3pystatus # my fork to test PRs
colour
netifaces
psutil
basiciw
xkbgroup
dbus-python
