zmodules=(directory \
          environment \
          git \
          git-info \
          history \
          input \
          utility \
          ssh \
          completion \
          syntax-highlighting \
          history-substring-search \
          autosuggestions)
ztermtitle='%n@%m:%~'
zdouble_dot_expand='true'
zhighlighters=(main brackets cursor)
zssh_ids=(/dev/null)

# vim: ft=zsh
