zmodules=(directory \
          environment \
          git \
          history \
          input \
          utility \
          ssh \
          completion)

# Only load the modules below if termianl supports 256 colors
if [[ $(tput colors) -ge 256 ]]; then
  zmodules+=(syntax-highlighting \
             history-substring-search \
             autosuggestions)
fi

ztermtitle='%n@%m:%~'
zdouble_dot_expand='true'
zhighlighters=(main brackets cursor)
zssh_ids=(/dev/null)

# vim: ft=zsh
